* {
  box-sizing: border-box !important;
}

html {
  height: 100%;
  width: 100%;
}

body,
main {
  height: 100%;
  width: 100%;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#header {
  margin: 0 auto;
  width: 20rem;
}

.center {
  padding-top: 10%;
  box-sizing: border-box !important;
}

.page,
.page-100 {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  box-sizing: border-box !important;
}

@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}

[data-typing]::after {
  content: "";
  margin-left: 0.25rem;
  border-left: 1px solid white;
  animation: blink 1s linear infinite;
}

.page > *:first-child {
  margin-top: 15rem;
}

#spotify {
  box-sizing: border-box !important;
}

.text-outline-white {
  text-shadow:
    0.125rem 0.125rem #fff,
    -0.125rem 0.125rem #fff,
    0.125rem -0.125rem #fff,
    -0.125rem -0.125rem #fff;
}

.text-outline-black {
  text-shadow:
    0.125rem 0.125rem #000,
    -0.125rem 0.125rem #000,
    0.125rem -0.125rem #000,
    -0.125rem -0.125rem #000;
}